In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

# set display columns to max so that we can view all columns
pd.set_option('display.max_columns', None)

In [2]:
reactions_raw = pd.read_csv('C:/Users/angel/Downloads/Reactions.csv')
reaction_types_raw = pd.read_csv('C:/Users/angel/Downloads/ReactionTypes.csv')
content_raw = pd.read_csv('C:/Users/angel/Downloads/Content.csv')

reactions = reactions_raw.copy()
reaction_types = reaction_types_raw.copy()
content = content_raw.copy()

In [3]:
reactions.shape

(25553, 5)

In [4]:
reactions.head()

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01

In [5]:
reactions = reactions.dropna()

In [6]:
reactions.shape

(22534, 5)

In [7]:
reaction_types.head()

   Unnamed: 0        Type Sentiment  Score
0           0       heart  positive     60
1           1        want  positive     70
2           2     disgust  negative      0
3           3        hate  negative      5
4           4  interested  positive     30

In [8]:
content = content.drop(['Category2'], axis = 1)

In [9]:
import string
for char, word in enumerate(content['Category']):
    clean_word = ''.join(char for char in word if char not in string.punctuation)
    content.at[char, 'Category'] = clean_word

In [10]:
content['Category'].value_counts()

technology         73
animals            72
travel             69
science            68
culture            67
fitness            66
food               64
soccer             64
healthy eating     62
cooking            61
tennis             59
education          59
studying           58
dogs               58
public speaking    50
veganism           50
Name: Category, dtype: int64

In [11]:
content = content.drop(['URL'], axis = 1)

In [12]:
content = content.rename(columns = {'Type': 'Content Type'})

In [13]:
reactions = reactions.drop(['User ID'], axis =1)
content = content.drop(['User ID'], axis =1)

In [14]:
joined = pd.merge(content, reactions, on ='Content ID', how = 'inner')

In [15]:
joined.head()

,Unnamed: 0_x,Content ID,Content Type,Category,Unnamed: 0_y,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,studying,1,disgust,2020-11-07 09:43:50
1,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,studying,2,dislike,2021-06-17 12:22:51
2,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,studying,3,scared,2021-04-18 05:13:58
3,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,studying,4,disgust,2021-01-06 19:13:01
4,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,studying,5,interested,2020-08-23 12:25:58

In [16]:
reaction_types.head()

   Unnamed: 0        Type Sentiment  Score
0           0       heart  positive     60
1           1        want  positive     70
2           2     disgust  negative      0
3           3        hate  negative      5
4           4  interested  positive     30

In [17]:
joined = joined.merge(reaction_types, on = 'Type', how = 'left')

In [18]:
joined = joined.drop(columns = ['Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0'])

In [19]:
joined = joined.sort_values(by='Score', ascending=False)

In [20]:
joined.head()

,Content ID,Content Type,Category,Type,Datetime,Sentiment,Score
11267,b400ea0c-43f0-4307-a3b2-78e5784d69be,audio,fitness,super love,2020-07-25 13:09:58,positive,75
3268,509a5fb0-9bb2-4809-9f90-18ae007acc94,video,dogs,super love,2021-05-21 16:24:56,positive,75
10929,d70f66c4-627a-4416-b1ad-51b5ccc8cf1d,GIF,healthy eating,super love,2020-07-11 16:09:36,positive,75
10920,d70f66c4-627a-4416-b1ad-51b5ccc8cf1d,GIF,healthy eating,super love,2020-09-02 15:21:00,positive,75
10898,ec202582-a5b2-4ea2-992c-8a1ca8b705d0,photo,food,super love,2020-11-29 13:01:50,positive,75

In [21]:
file_path = 'C:/Users/angel/joined_accenture_project.csv'

# Export the DataFrame to a CSV file
joined.to_csv(file_path, index=False)

In [23]:
score_by_category = joined.groupby('Category')['Score'].sum().reset_index()
score_by_category = score_by_category.sort_values(by='Score', ascending = False).reset_index()

In [24]:
top_5_categories = score_by_category[:5].drop(['index'], axis = 1)

In [25]:
top_5_categories

         Category  Score
0         animals  68624
1         science  65405
2  healthy eating  63138
3      technology  63035
4            food  61598

In [26]:
file_path = 'C:/Users/angel/top_5_categories.csv'

# Export the DataFrame to a CSV file
top_5_categories.to_csv(file_path, index=False)